%section.bs-component
  .container
    .jumbotron.jumbotron-transparent(style='margin-top: 20px;')
      %h2
        %strong What are you doing now?
%section.bs-component
  .container
    .row
      .col-md-12
        %h3 실험
        %div(data-toggle="github-widget" data-widget='experiment-labeled')
    .row
      .col-md-6

        %h3 개인별 이슈
        - users = ['rest515', 'mozodev', 'berry502', 'phi4grv', 'dalikim']
        %ul.nav.nav-tabs(role="tablist")
          - users.each_with_index do |user, index|
            %li(class="#{'active' if index == 0}" role="presentation")
              %a(aria-controls="home" data-toggle="tab" href="##{user}" role="tab") @#{user}
        .tab-content(style='margin-top: 10px')
          - users.each_with_index do |user, index|
            .tab-pane(class="#{'active' if index == 0}"id="#{user}" role="tabpanel")
              %div(data-toggle="github-widget" data-user='#{user}')
              %div(data-toggle="github-widget" data-user='#{user}' data-widget='user-labeled')
      .col-md-6
        %h3 전체 이슈
        .well
          %a(href='https://github.com/issues?q=is%3Aopen+is%3Aissue+user%3Aparti-xyz' target='_blank') 모든 이슈 보기
        %div(data-toggle="github-widget" data-widget='repositories')
